<!DOCTYPE html>
<html>
  <head>
    <title>Servicio Meteorológico Vulcano</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/images/favicon.png'%>
    <%= favicon_link_tag '/images/favicon.png' , rel: 'apple-touch-icon', type: 'image/png'%>
    <link href="https://fonts.googleapis.com/css?family=Lato|ZCOOL+XiaoWei" rel="stylesheet">
  </head>

  <body>
    <!-- Notificaciones -->
    <% if !notice.nil? %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if !alert.nil? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
